#nav{
    background-color: yellow;
    height: 6rem;
    
}
body{
    margin: 0;  padding: 0;
}
h1{
    padding: 2rem 2rem 0 2rem ;
    margin: 0;
    text-align: center;
}
textarea{
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    display:block;
    
}